/*globle sytle*/
a:hover
{
    text-decoration: none;
}
code
{
    background:#fee9cc;
}
body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
*
{
    text-align: inherit;
    vertical-align: inherit;
    color: inherit;
    font-size: inherit;
}



/*home page style*/
.headerblock
{
    margin-top: 50px;
    position: fixed;    
    background-color: #4183c4;
    height: 70px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
 

    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
   
}

.sitelogo
{
    vertical-align: bottom;
    float: left;
    font-size: 5rem;
    color: whitesmoke;
    padding-left: 20px;   
    margin-bottom: -3px;
}

.navbar
{        
    float: right;   
    margin-top: 12px;
    margin-bottom: 3px;
}
.nav-a
{
    font-size: 2.3rem;
    color: lightskyblue;
    margin-right: 20px;
}
.nav-a:hover
{
    color: white;
}
.dropdownbtn
{
    font-size: 4rem;
    color: white;
    text-align: center;
    vertical-align: middle;   
}

.dropdownbtn .glyphicon-tasks:hover
{
    cursor: pointer;
}


.smallmenu
{
    background-color: #4F94CD;
    text-align: left;
    font-size: 3rem;
    margin-right: -12px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.smallmenu div
{
    margin-bottom: 20px;
}



.headerinfo
{
    background-color: #4183c4;
    height: 300px;
}
.welcome
{
    color: white;
    font-size: 2.3rem;
    margin-top: 130px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
.welcome small
{
    color: lightseagreen;
    font-size: 0.8em;
    
}


.headerblock-scrolltop
{        
    margin-top: 0px;
    background-color: white;       
}

.headerblock-scrolltop a,
.headerblock-scrolltop span,
.headerblock-scrolltop i
{
    color: black;
}
.headerblock-scrolltop a:hover
{
    color: dodgerblue;
}
.headerblock-scrolltop .smallmenu 
{
    background-color: white;
}

.maincontext
{
    min-height: 1100px;
}
.contextcolum
{
    min-height: 1100px;
}




/*blog list page*/




/*post page*/
iv.catelog
{
    margin-top: 450px;
    position: inherit;
    min-width: 200px;
    max-width: 300px;
    min-height: 300px;
    background-color: whitesmoke;
}
