--- 
layout: default

---

<div class="row">
    <div class="hidden-xs col-sm-1">
        <div>

        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-xs-push-2">
        <div class="home-posts">
            {% for post in site.posts %} {% if post.istop %}
            <article class="home-post">
                <h1><span class="laytop">【置顶】</span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
                <div class="home-post-excerpt">
                    Date:{{post.date | date: "%b %d, %Y"}} {{ post.excerpt }}
                </div>
                <div class="spaceline-low"></div>
                <div class="home-post-brief">
                    {{post.content | slice:0,200}}

                </div>
                <a href="{{ site.baseurl }}{{ post.url }}" class="button button-primary read-more">Read More</a>
            </article>
            <div class="breakline"></div>
            {% endif%} {% endfor %}
        </div>
        <div class="home-posts">
            {% for post in site.posts %} {% if post.istop %} {% else %}
            <article class="home-post">
                <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
                <div class="home-post-excerpt">
                    Date:{{post.date | date: "%b %d, %Y"}} {{ post.excerpt }}
                </div>
                <div class="spaceline-low"></div>
                <div class="home-post-brief">
                    {{post.content | slice:0,200}}
                </div>
                <a href="{{ site.baseurl }}{{ post.url }}" class="button button-primary read-more">Read More</a>
            </article>
            <div class="breakline"></div>
            {% endif%} {% endfor %}
        </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-1"></div>
    <div class="col-md-4 col-xs-push-1">
        <div class="col-md-12 col-xs-6 col-sm-6">
            <div class="category">
                <img class="" src='/material/newdough.jpg' />
                <div>Base dash</div>
            </div>
        </div>        
        <div class="col-md-12 col-xs-6 col-sm-6">
            <div class="category">
                <img class="" src='/material/newpizza.jpg' />
                <div>Homemade Pizza</div>
            </div>
        </div>        
    </div>
</div>