--- 
layout: default
---

<div class='tools'> 
    <span class="glyphicon glyphicon-arrow-left "></span>
    <span class="glyphicon glyphicon-arrow-up"></span>
</div> 
<div class="container post">
    <div class="hidden-xs hidden-sm col-md-1">
    </div>
    <div class="col-md-10">
        <div class="spaceline-low"></div>
        <div class="post-title">
            {{page.title}}
        </div>
        <div class="post-date">Create on: {{page.date | date: "%b %d, %Y"}}</div>
        <div class="spaceline-high"></div>
        <div class="post-content">
            {{content}}
        </div>
    </div>
    <div class=" hidden-xs hidden-sm col-md-1"></div>
</div>